body{
    height: 600px;
    justify-content:center;
    align-items: center;
    display:flex;
    
}
.container-1{
    width:30px;
    height:200px;
    background-color: black;
    margin:2px;
    border-radius: 25px;
}
.container-2{
    width:30px;
    height:200px;
    background-color: black;
    margin:2px;
    border-radius: 25px;
}
.container-3{
    width:30px;
    height:200px;
    background-color: black;
    margin:2px;
    border-radius: 25px;
}
.container-4{
    width:30px;
    height:200px;
    background-color: black;
    margin:2px;
    border-radius: 25px;
}
.container-5{
    width:30px;
    height:200px;
    background-color: black;
    margin:2px;
    border-radius: 25px;
}
.container-6{
    width:30px;
    height:200px;
    background-color: black;
    margin:2px;
    border-radius: 25px;
}
.container-7{
    width:30px;
    height:200px;
    background-color: black;
    margin:2px;
    border-radius: 25px;
}
.container-8{
    width:30px;
    height:200px;
    background-color: black;
    margin:2px;
    border-radius: 25px;
}
.container-9{
    width:30px;
    height:200px;
    background-color: black;
    margin:2px;
    border-radius: 25px;
}

